<div style="margin:auto; width: 38%;">

  <p-fieldset legend="Solution 1 (Avoid - Order Ignored)" [toggleable]="true" [collapsed]="true" [style]="{ }">
    <p-dropdown [options]="fieldOffices" optionLabel="name" optionValue="id" (onChange)="onOfficeSelected1($event)"
      [style]="{'width': '300px'}" [showClear]="true" placeholder="Select an Office"></p-dropdown>
      <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" [style]="{'margin-left': '5px'}"></button>
    <br />
    <br />
    <br />
    <strong>Field Office: </strong><code *ngIf="fieldOffice1">{{ fieldOffice1 | json }}</code>
  </p-fieldset>

  <br />

  <p-fieldset legend="Solution 2 (Better - Order Maintained)" [toggleable]="true" [collapsed]="true" [style]="{ }">
    <p-dropdown [options]="fieldOffices" optionLabel="name" optionValue="id" (onChange)="onOfficeSelected2($event)"
      [style]="{'width': '300px'}" [showClear]="true" placeholder="Select an Office"></p-dropdown>
      <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning" [style]="{'margin-left': '5px'}"></button>
    <br />
    <br />
    <br />
    <strong>Field Office: </strong><code *ngIf="fieldOffice2">{{ fieldOffice2 | json }}</code>
  </p-fieldset>

  <br />

  <p-fieldset legend="Solution 3 (Best - Order Maintained)" [toggleable]="true" [collapsed]="true" [style]="{ }">
    <p-dropdown [options]="fieldOffices" optionLabel="name" optionValue="id" (onChange)="onOfficeSelected3($event)"
      [style]="{'width': '300px'}" [showClear]="true" placeholder="Select an Office"></p-dropdown>
      <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded" [style]="{'margin-left': '5px'}"></button>

    <br />
    <br />
    <br />
    <strong>Field Office: </strong><code
      *ngIf="fieldOfficeIdAction3$ | async as fieldOffice">{{ fieldOffice | json }}</code>
  </p-fieldset>

</div>
