:host ::ng-deep button {
  margin-right: .5em;
  font-size: small;
}

:host ::ng-deep .p-fieldset {
  width: 600px;
  font-size: small;
  text-align: left;
}

:host ::ng-deep .p-fieldset-content {
  width: 600px;
  font-size: small;
}

:host ::ng-deep .card-container {
  width: 253px;
}
